.box {
    width: 100%;
    max-width: 933px;
    max-height: 312px;
    background: #fff;
    padding: 3rem 4rem !important;
    display: block !important;
    position: relative;

    label {
        position: absolute;
        font-size: 12px;
        margin-top: 25px;
        margin-left: 1.5rem;
        color: #ccc;

        &.labelFirst {
            margin-left: 1.3rem;
            margin-top: 11px;

            svg {
                position: relative;
                top: 7px;
                left: -3px;
                color: rgb(184, 34, 34)
            }
        }

        &.labelSecound {
            margin-left: 1rem;
        }

        &.labelFirstEnd {
            margin-left: -2rem;
            margin-top: 20px;
            cursor: pointer;

            svg {
                fill: #ccc
            }
        }
    }

    select,
    input {
        width: 23.5%;
        height: 3rem;
        margin: 0.5rem 0.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        border-color: #ccc;
        font-weight: bold;
    }

    option {
        padding: 0.5rem;
    }

    .label {
        padding: 0.5rem 0.5rem 0.5em 4rem;
    }

    .first {
        width: 36.5%;
        margin-right: 0px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0.5rem 5rem 0.5em 5rem;

        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    .secound {
        width: 12%;
        margin-left: 0;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0.5rem 0.5rem 0.5em 3rem;
    }

    .full {
        width: calc(47% + 1rem);
        margin-right: 0;
    }
}

.divBot {
    margin-top: 20px;
    width: calc(100% - 1rem);
    display: grid;
    grid-template-columns: 50% 15% 34.5%;
    margin: 1rem 0.5rem;

    a {
        font-weight: 400;
        transition: all .3s ease;
        cursor: pointer;

        &:hover {
            filter: brightness(0.5);
            transition: all .3s ease;
        }
    }

    div {

        margin-top: 1rem;

        a {
            color: rgb(184, 34, 34);
            width: auto;
        }
    }

    div:nth-last-child(2) {
        a {
            color: rgb(201, 192, 192);
            width: auto;
        }
    }

    button {
        background: rgb(184, 34, 34);
        padding: 0.5rem;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        font-size: 1.3rem;

        &:hover {
            filter: brightness(0.5);
            transition: all .3s ease;
        }
    }
}